/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

/* Bootstrap CSS */


.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/*-----Logo */
.bg-light {
    background-color: rgba(100, 100, 100, 0.45) !important;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

/* Custom CSS */


.bg-blur {
    background: transparent;
    backdrop-filter: blur(10px);
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s ease;

}

.section-1 {
    background-color: #2391f9;
}

.section-2 {
    background-color: #2e58b1;

}

.section-3 {
    background-color: #a3cffd;

}

.shape {
    width: 200px;
    height: 200px;
    background-color: #a3cffd;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    transition: all 2s ease;
    animation: breathing 25s ease-in-out infinite normal;
}

@keyframes breathing {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(2.3);
    }
}

h1,
h2,
h3,
h4 {
font-family: 'Space Grotesk', sans-serif;
font-weight: 500;
}

.text {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    color: #ffff;
    position: relative;
    z-index: 2;
    opacity: 100;
    filter: blur(15px);
    transition: opacity 0.5s ease-in-out, filter 2s ease;
    text-align: center;
}

.quote {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 1s ease;
}

.final-section {
    background-color: white;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.terminal-blink {
    position: relative;
    display: inline-block;
    font-family: 'Space Grotesk', sans-serif;
}

.terminal-blink::after {
    content: "";
    position: absolute;
    top: 0;
    right: -0.5em;
    background-color: #ffffffb5;
    width: 0.5em;
    height: 1em;
    animation: blink 1s step-end infinite;
    vertical-align: baseline;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

#debug {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: yellow;
}

.img-blog {
    width: 200px;
    height: 250px;

}
